Anatoly Burakov <anatoly.burakov@intel.com>
Bruce Richardson <bruce.richardson@intel.com>
Chas Williams <chas3@att.com> <ciwillia@brocade.com> <3chas3@gmail.com>
David Marchand <david.marchand@redhat.com> <david.marchand@6wind.com>
Harish Patil <harish.patil@cavium.com> <harish.patil@qlogic.com>
Hemant Agrawal <hemant.agrawal@nxp.com> <Hemant@freescale.com>
Jerin Jacob <jerinj@marvell.com> <jerin.jacob@caviumnetworks.com>
Jingjing Wu <jingjing.wu@intel.com>
Luca Boccassi <bluca@debian.org> <luca.boccassi@gmail.com> <lboccass@brocade.com>
Ori Kam <orika@nvidia.com> <orika@mellanox.com>
Pablo De Lara <pablo.de.lara.guarch@intel.com>
Rahul Shah <rahul.r.shah@intel.com>
Stephen Hemminger <stephen@networkplumber.org> <shemming@brocade.com> <sthemmin@microsoft.com>
Thomas Monjalon <thomas@monjalon.net> <thomas.monjalon@6wind.com>
Yuanhan Liu <yliu@fridaylinux.org> <yuanhan.liu@linux.intel.com>
